/* *{
	padding: 0;
	margin: 0;
	border: 0;
} */
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
/* :focus,:active{outline: none;}
a:focus,a:active{outline: none;} */

/* nav,footer,header,aside{display: block;} */

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
/* a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;} */
ul li{list-style: none;}


h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

.bigred{
	font-size: 20px;
	color: red;
}

body {
  margin: 0px;
  padding: 0px;
  min-width: 320px;
  position: relative;
  overflow-x: hidden;
}
main {
  background-image: url(./images/background.png);
  background-position: top center;
  background-attachment: fixed;
  min-height: 668px;
  position: relative;
  -webkit-background-size: cover;
  background-size: cover;
}
.container-fluid{
    padding: 0;
}
header{
    margin-left: auto;
    margin-right: auto;
}
a {
    text-decoration: none;
    color: black;
}

body{
    font-family: 'Raleway', sans-serif;
}

header{
    
    height: 103px;
}
.row{
    margin: 0 auto;
}
.logo-wrapper img{
padding-right: 10px;
}
h1{
 color: black;
font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 16px;
line-height: 36px;
letter-spacing: 0.1em;
text-transform: uppercase;
margin: 0;
}
.nav-wrapper{

}
nav li{
     font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-style: normal;
padding-left: 20px;
font-size: 16px;
line-height: 36px;
letter-spacing: 0.05em;
}
ul{
    margin: 0;
}
.language-wrapper{
    padding-right: 34px;
    padding-left: 20px;
}
.language-wrapper span{
padding: 9px;
}
.signup-btn{
    margin-right: 35px;
    width: 84px;
}
.signup-btn a{
   
    text-decoration: none;
       color: black;
font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 16px;
line-height: 36px;
letter-spacing: 0.1em;
text-transform: uppercase;
}
.login-btn{
   display: flex;
    background-color: #F1C510;
    border: 2px solid #F1C510;
    width: 129px;
    height: 50px;
    border-radius: 10px ;
}
.login-btn a{
 
    text-decoration: none;
    font-weight: 900;
font-size: 16px;
line-height: 36px;
font-family: 'Raleway';
font-style: normal;
color: #fff;
letter-spacing: 0.2em;
text-transform: uppercase;
}
.login-btn img{
    text-align: center;
 align-items: center;
    padding-right: 6px;
    
}
.burger-icon{
    display: none;
}
main{
    padding-top: 50px;
    padding-bottom: 50px;
}
.form-wrapper{
    background-color: #fff;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
   padding: 24px;
}
.form-wrapper h2{
    font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 183.2%;
color: #000000;
}
.form-subtitle{
    font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: rgba(0, 0, 0, 0.5);
}

input{
    padding-left: 25px;
    display: block;
    height: 50px;
    width: 100%;
    background: #F4F4F4;
border: 1px solid #E9E9E9;
border-radius: 22.5px;
}
input[type="submit"]{
    padding-left: 0;
}
label{
    padding:  10px 0 10px 0;
    font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 183.2%;
color: #000000;
}
.icon-password{
    position: absolute;
    right: 15px;
    top: 15px; 
}
#password{
    width: 100%;
}
.password-wrapper{
    position: relative;
}
.requirements-wrapper{
   box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.08);
   border-radius: 20px;
  padding-bottom: 10px;
}
.requirements-wrapper li{
    font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 190%;
}
.requirements-wrapper h3{
     padding: 10px 20px 10px 20px;
    font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 183.2%;
}
.requirements-wrapper img{
    margin-right: 20px;
}
.check-wrapper{
    padding: 15px 0 15px 0;
    font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 183.2%;
}
.check-wrapper a{
color: #66B855!important
}
.check-wrapper img{
   
}
.submit{
    color: #fff;
    font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 19px;
line-height: 22px;
    background: #66B855;
    align-items: center;
text-align: center;
border-radius: 30px;
margin-bottom: 28px;
}
.checkbox{
    padding: 7px 30px 7px 30px ;
    margin-bottom: 13px;
background: #F9F9F9;
border: 1px solid #D3D3D3;
box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.08);
border-radius: 20px;
}
.devider{
    margin: 5px;
    font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 183.2%;
text-align: center;
color: #898989;
}
.line{
    /* width: 179px; */
    border: 1px solid #898989;

}
.facebook-box{
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
   text-align: center;
    /* width: 134px; */
height: 54px;
background: #1877F2;
border-radius: 30px;
}
.google-box{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 133px; */
height: 54px;
background: #FFFFFF;
box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
border-radius: 30px;
}
.apple-box{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 134px; */
height: 54px;
background: #000000;
border-radius: 30px;
}
.login-question{
    font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 183.2%;
}
.login-link{
    padding-left: 5px;
color: #66B855;
}
/* Classes for validation inputs */
.right{
    background: rgba(102, 184, 85, 0.1);
border: 1.5px solid #66B855;
}
.wrong{
    background: rgba(234, 67, 53, 0.1);
border: 1.5px solid #EA4335;
}
.warning-wrapper{
    display: none;
}
.warning-massage{
    font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 183.2%;
text-align: right;
color: #EA4335;

}




@media (max-width: 1100px) {
  nav,.signup-btn,.login-btn{
    display: none;
  }
  .login-btn{
    display: none;
  }
  .burger-icon{
    display: block;
  }
  /* .facebook-box{
    margin-right: 10px;
 
    width: 83px;
height: 54px;

}
  .google-box{
    margin-right: 10px;
 
    width: 83px;
height: 54px;

}
  .apple-box{
    margin-right: 10px;
 
    width: 83px;
height: 54px;

} */
}

@media (min-width: 801px){
    .form-wrapper{
    width: 659px;
    padding: 30px 96px ;
}
    
}